@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

*::selection {
  background-color: hsl(0deg, 0%, 10%);
  color: white;
}

@layer base {
  html {
    min-width: 320px;
    scroll-behavior: smooth;
  }

  body {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  body,
  html {
    font-size: 16px;
    line-height: 24px;
    max-width: 100vw;
    font-weight: 400;
    color: hsl(0deg, 0%, 0%);
  }
}

@layer components {
  .heading-1 {
    @apply font-heading text-3xl font-bold tracking-[-2px] text-[#112] md:text-[38px] lg:text-[48px] lg:leading-[1.2];
  }

  .heading-2 {
    @apply font-heading text-[24px] font-bold -tracking-[1px] text-[#112] lg:text-[32px] lg:leading-[42px];
  }

  .heading-3 {
    @apply font-heading text-[18px] font-semibold -tracking-[1px] text-[#112] lg:text-[24px] lg:leading-[38px];
  }
}

.container-1440 {
  @apply mx-auto max-w-[1440px] px-4;
}

.transition-default {
  @apply transition-all duration-300 ease-in-out;
}

.nav-text {
  @apply cursor-pointer text-[15px] font-bold uppercase leading-[20px] tracking-widest text-black/[0.75] hover:text-black;
}

/* PRODUCT DETAILS CAROUSEL STYLING CUSTOMIZATION START */
.productCarousel.carousel-root {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
}
.productCarousel.carousel-root .carousel {
    width: auto;
}
.productCarousel.carousel-root .carousel.carousel-slider {
    width: 100%;
}
.productCarousel.carousel-root .carousel.carousel-slider .slider-wrapper {
    border-radius: 10px;
}
.productCarousel.carousel-root .carousel .thumbs-wrapper {
    margin: 0;
}
.productCarousel.carousel-root .carousel .thumb {
    height: 60px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}
.productCarousel.carousel-root .carousel .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.productCarousel.carousel-root .carousel .thumb:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
}
.productCarousel.carousel-root .carousel .thumb.selected,
.productCarousel.carousel-root .carousel .thumb:hover {
    border: 0;
}
.productCarousel.carousel-root .carousel .thumb:hover:after,
.productCarousel.carousel-root .carousel .thumb.selected:after {
    opacity: 0.2;
}
.productCarousel .control-arrow {
    display: none;
}
@media screen and (max-width: 767px) {
    .productCarousel.carousel-root {
        flex-direction: column;
    }
    .productCarousel.carousel-root .carousel .thumb {
        border: 0;
        padding: 0;
    }
}
@media screen and (min-width: 768px) {
    .productCarousel.carousel-root .carousel .thumbs {
        transform: none !important;
        flex-direction: column;
        display: flex;
        gap: 10px;
    }
    .productCarousel.carousel-root .carousel .thumb {
        border: 0;
        padding: 0;
        margin: 0;
    }
}
/* PRODUCT DETAILS CAROUSEL STYLING CUSTOMIZATION END */

.markdown ul {
    margin: 0;
    padding: 0;
    list-style-type: disc;
    margin: 20px 0;
}
.markdown ul li {
    margin: 10px 0;
}
